.chooseframe {
  background-color: #fcfcfc &--header {
    background-color: #fff;
  }

  .swiper-slide {
    width: 120px !important;
  }
  .swiper-wrapper {
    justify-content: center;
  }
  .chooseframe--card {
    &.active {
      .chooseframe--card-img {
        border: 1px solid var(--primary);
      }
      p {
        color: var(--primary);
      }
    }
    .chooseframe--card-img {
      width: 98px;
      height: 98px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .img-for-preview {
    position: relative;
    .swiper-slide {
      width: 200px !important;
    }

    .swiper-wrapper {
      justify-content: center;
    }

    .img-card {
      position: relative;
      position: relative;

      // &.black-wide {
      //   overflow: hidden;
      //   border: 6px solid #000;
      // }
      .img-card--img {
        position: relative;
        width: 200px;
        height: 200px;
        overflow: hidden;
        padding: 20px;
        .choosenimage {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          z-index: 5;
        }
        .choosenFrame {
          z-index: 8;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
        }
      }
      &--actions {
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 50;
        .v-btn:before {
          background-color: #fff !important;
        }
        .theme--light.v-btn:hover::before {
          opacity: 1 !important;
        }
      }
    }

    .add-image--btn {
      position: absolute;
      bottom: 1%;
      right: 5%;
      z-index: 100;
    }
  }
  .select-woman {
    border: 1px solid #d5d5d5;

    .theme--light.v-label {
      color: #323232;
      font-size: 16px;
      margin: 0 5px;
    }
    .v-input--selection-controls {
      margin-top: 8px;
    }
    .v-messages.theme--light {
      display: none;
    }
  }
  .actions {
    .v-btn:hover {
      background-color: #eb0973 !important;
    }
  }

  .fast-delevery {
    .theme--light.v-label {
      color: #323232;
      font-size: 16px;
      margin: 0 5px;
    }
    .v-input--selection-controls {
      margin-top: 8px;
    }
    .v-messages.theme--light {
      display: none;
    }
    .v-input {
      max-width: 80% !important;
      margin-top: 0 !important;
    }
  }
}
